@media screen and (max-width: 960px) {
  .camera-page {
    .imageContent {
      .capturedPhoto {
        width: 300px !important;
        height: auto !important;
        border: 1px solid !important;
        border-radius: 24px !important;
      }

      .deleteButton {
        position: absolute !important;
        top: 2% !important;
        right: 1% !important;
        width: 40px !important;
        margin: 4px !important;
        border: 2px solid #100f0f !important;
        border-radius: 25px !important;
        background-color: transparent !important;
        color: white !important;
        cursor: pointer !important;
      }

      .downloadButton {
        position: absolute !important;
        top: 1% !important;
        right: 16% !important;
        width: 46px !important;
        margin: 4px !important;
        border: 2px solid #100f0f !important;
        border-radius: 25px !important;
        background-color: transparent !important;
        color: white !important;
        cursor: pointer !important;
      }
    }
  }
}
