<div class="camera-page" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
  <div class="heading">Photo Capturer</div>
  <div>
    <webcam [height]="height" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      [allowCameraSwitch]="allowCameraSwitch">
    </webcam>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button class="cameraButton" (click)="triggerSnapshot()">
      Capture
    </button>
  </div>
  <div class="seperator"></div>
  <div class="heading">Your Photos</div>
  <div class="imageListSection" *ngIf="imageList?.length > 0" fxLayout="row" fxLayoutAlign="center center">
    <div *ngFor="let imageItem of imageList;let index=index" class="imageContent">
      <img [src]="imageItem?.imageAsDataUrl" class="capturedPhoto" />
      <img src="../../assets/download.png" class="downloadButton" (click)="downloadImage(index,imageItem)" />
      <img src="../../assets/delete.png" class="deleteButton" (click)="deleteImage(index)" />
    </div>
  </div>
  <div class="emptyListHeading" *ngIf="imageList?.length == 0" fxLayout="row wrap" fxLayoutAlign="center center">
    Empty Photo List, Please Capture Your Photos
  </div>
</div>